<%- include('partials/header.ejs') -%>
  <link rel="stylesheet" href="/admin/changePassword/style.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg adminNavBar">
      <div class="container justify-content-around">
        <a class="navbar-brand" href="#"><img class="logoImag" src="/image/icons/idealLogo.svg" alt="iDeal Logo"></a>
      </div>
    </nav>
    <div class="container">
      <div class="login-container">
        <div class="login-header text-center mt-4 mb-4 m-3">
          <h3 class="fw-bold">Change your password</h3>
          <p class="dontxt mt-3">Enter a new password below to change your password</p>
        </div>
        <p id="errorMsg"></p>
        <form id="formId" action="/admin/changePassword/<%= token %>" method="POST">
          <div class="mb-4 d-flex position-relative">
            <input type="password" class="form-control border-0" id="password" placeholder="Enter password"
              name="password">
            <button class="btn border-0" type="button" id="togglePassword">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
          </div>
          <div class="mb-4 d-flex position-relative">
            <input type="password" class="form-control border-0" id="conformPassword" placeholder="Conform password">
            <button class="btn border-0" type="button" id="conFormtogglePassword">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
          </div>
          <button type="submit" class="btn btn-custom w-100 mb-3 text-light">Change Passsword</button>

        </form>
      </div>
    </div>
    <script src="/admin/changePassword/script.js"></script>
    <%- include('partials/footer.ejs') -%>