<%- include('partials/header.ejs') -%>

  <link rel="stylesheet" href="/admin/forgotPassword/style.css">
  </head>

  <body>
    <% if(message){ %>
      <div id="alertBox" class="alert alert-success" role="alert">
        <%= message %>
      </div>
      <% }%>
        <nav class="navbar navbar-expand-lg adminNavBar">
          <div class="container justify-content-around">
            <a class="navbar-brand" href="#"><img class="logoImag" src="/image/icons/idealLogo.svg"
                alt="iDeal Logo"></a>
          </div>
        </nav>
        <div class="container">
          <div class="login-container">
            <div class="login-header text-center mt-4 mb-4 m-lg-2">
              <h3 class="fw-bold">Forgot your password</h3>
              <p class="dontxt mt-3">Please enter the email address you’d like your password reset information sent to
              </p>
            </div>
            <p id="errorMsg"></p>
            <form action="/admin/forgotPassword" method="post" id="emailForm">
              <div class="mb-4">
                <input type="email" class="form-control border-0" id="email"
                  placeholder="Your username or email address" name="email">
              </div>

              <button type="submit" class="btn btn-custom w-100 mb-3 text-light">Request reset link</button>
            </form>
          </div>
        </div>
        <script src="/admin/forgotPassword/script.js"></script>
        <%- include('partials/footer.ejs') -%>