<%- include('partials/header.ejs') -%>
  <link rel="stylesheet" href="/user/forgetPassword/style.css">
  </head>

  <body>
    <% if(message){ %>
      <div id="alertBox" class="alert alert-success" role="alert">
        <%= message %>
      </div>
      <% }%>
        <div class="row main">
          <div class="left col-md-6 p-0 d-flex justify-content-center">
            <img class="iDealLogo mt-4" src="/image/icons/LogoBlack.png" alt="iDealLogo">
          </div>
          <div class="right col-md-6 p-0">
            <div class="leftForm mx-auto ">
              <h2 class="fs-1 fw-bold">Forgot password</h2>
              <p class="dontxt mt-3">Please enter the email address you’d like your password reset information sent to
              </p>
              <form action="/user/forgotPassword" method="post">
                <div class="mb-4 mt-4 inputField">
                  <input type="email" class="form-control border-0 inpField" name="email" id="email" placeholder="email"
                    required>
                </div>
                <button type="submit" class="btn btn-dark w-100">Request reset link</button>
                <div class="backtologin d-flex justify-content-center mt-3">
                  <a href="/user/login">Back to Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/user/forgetPassword/script.js"></script>
        <%- include('partials/footer.ejs') -%>