<%- include('partials/header.ejs') -%>
  <link rel="stylesheet" href="/user/signup/style.css">
</head>
<body>
  <div class="row main">
    <div class="left col-md-6 p-0 d-flex justify-content-center">
      <img class="iDealLogo mt-4" src="/image/icons/LogoBlack.png" alt="iDealLogo">
    </div>
    <div class="right col-md-6 p-0">
      <div class="leftForm mx-auto ">
        <h2 class="fs-1 fw-bold">Sign Up</h2>
        <p class="dontxt mt-3">Already have an account? <a href="http://localhost:3000/user/login/">Sign in</a></p>
        <p id="errorMsg"></p>
          <% if(message){%>
            <p id="serverMsg" ><%= message %></p>
          <%}%>
        <form action="/user/register" id="signupForm" method="post">
          <div class="mb-3 mt-4 inputField">
            <input type="text" class="form-control border-0 inpField" id="username" placeholder="username" name="username" required>
          </div>
          <div class="mb-3 mt-4 inputField">
            <input type="email" class="form-control border-0 inpField" id="email" name="email" placeholder="email" required>
          </div>
          <div class="mb-4 mt-4">
            <div class="input-group">
              <input type="password" class="form-control border-0 inpField" id="password" placeholder="password" name="password" required>
              <button class="btn border-0" type="button" id="togglePassword">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </div>
            <div class="input-group mb-4 mt-4">
              <input type="password" class="form-control border-0 inpField" id="conformPassword" placeholder="conform password" name="cPassowrd" required>
              <button class="btn border-0" type="button" id="toggleCPassword">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="agreeCheckBox">
              <label class="form-check-label" id="agreetxt" for="rememberMe">I agree with Privacy Policy and Terms of Use</label>
            </div>
          </div>
          <button type="submit" class="btn btn-dark w-100" id="submitbtn">Sign Up</button>
          <div class="text-center my-3">OR</div>
          <button type="button" class="btn btn-light w-100">
            <img src="https://www.google.com/favicon.ico" alt="Google logo" width="20" class="me-2"><a href="/user/auth/google" id="googleSignupbtn">Continue with Google</a>
          </button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/user/signup/script.js"></script>
  <%- include('partials/footer.ejs') -%>