*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
 } 
 input::placeholder,textarea::placeholder{
  font-size: 12px;
}
nav{
  background-color: black;
}
.logoImag{
  width: 80px;
  height: 40px;
}
    body {
      background-color: #121212;
      color: white;
    }
    .sidebar {
      height: 308px;
      background-color: #121212;
      color: white;
      width: 300px;
      padding:0;
    }
    .sidebar a {
      display: flex;
      align-items: center;
      color: #b8b8b8;
      padding: 10px 20px;
      text-decoration: none;
      transition: 0.3s;
    }
    .sidebar a:hover,
    .sidebar a.active {
      color: white;
      background-color: #001569;
    }
    .sidebar a i {
      margin-right: 15px;
    }
    .sidebar a.active {
      background-color: #001569;
    }

    .footer {
      background-color: #121212;
      color: #fff;
      padding: 20px 0;
      margin-top: 20vh;
    }
    .footer a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;
      font-size: 0.9rem;
    }
    .footer a:hover {
      text-decoration: underline;
    }
    
    .footer .footer-logo img {
      width: 70px;
      margin-right: 8px;
      margin-bottom: 6px;
    }
    .footer .social-icons a {
      color: #fff;
      margin: 0 8px;
      font-size: 1.2rem;
    }
    .footer hr {
      border-color: #444;
      margin: 10px 0;
    }
    .footerSpan{
      font-size: .8em;
      font-weight: 200;
    }
    .logoCOD{
      background-color: white;
    }

    .chechoutRow{
      padding-top: 15vh;
    }
    .input-field{
      background-color: #1E1E1E;
      outline: none;
      border: none;
      border-radius: 10px;
      color: white;
    }
    .input-field:focus{
      background-color: #1E1E1E;
      color: white;
    }
    .input-field::placeholder{
      color: rgba(255, 255, 255, 0.562); 
      opacity: 1;
    }